<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
</head>
<body>
  {{>header}}
  <main role="main" class="text-center mx-auto">
    {{>page_title}}
    <h3>{{forecast}}</h3>
    <h3>Author: {{author}}</h3>
    <img src="/img/{{image}}" class="img-thumbnail portrait" alt="">
    <p>Hello, this site was created just for learning nodeJS.</p>
    <p> Site uses API/data from mapbox.com to find place/cods and weatherstack.com to get forecast to cods.</p>
  </main>
  {{>footer}}
</body>
</html>