<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
</head>
<body>
  {{>header}}
  <main role="main" class="text-center mx-auto">
    {{>page_title}}
    <h3>{{forecast}}</h3>
    <h3>Author: {{author}}</h3>
    <img src="/img/{{image}}" class="img-thumbnail portrait" alt="">
  </main>
  {{>footer}}
</body>
</html>